---
show_advanced_search: true
---

{{> search-panel }}

<div class="exhibition-detail">
    {{> exhibition-detail}}
</div>

<div class='search-results'>

    {{> search-results}}

</div><!-- end search-results -->
