
<div class="collection-stats h2">
    Search <span class="in-catalog">over 34,000</span> objects in our collection.
</div>

{{> search-panel }}

<div class="home">

    {{> explore-collection}}

    {{> home-objects}}

    {{> viewing-objects}}

</div>
