
{{> collection-stats home}}

{{> search-panel }}

<div class="home">

<div class="row">
    <div class="col-md-10 col-md-offset-1 explore-collection">
        <h2>Explore the collection</h2>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#collections"
                aria-controls="collections" role="tab" data-toggle="tab">Collections</a></li>
            <li role="presentation"><a href="#chronology"
                aria-controls="chronology" role="tab" data-toggle="tab">Chronology</a></li>
            <li role="presentation"><a href="#object-type"
                aria-controls="object-type" role="tab" data-toggle="tab">Object Type</a></li>
            <li role="presentation"><a href="#designer"
                aria-controls="designer" role="tab" data-toggle="tab">Designer</a></li>
            <li role="presentation"><a href="#advanced-search"
                aria-controls="advanced-search" role="tab" data-toggle="tab">Advanced Search</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="collections">
                collections!
            </div>
            <div role="tabpanel" class="tab-pane" id="chronology">
                chronology!
            </div>
            <div role="tabpanel" class="tab-pane" id="object-type">
                object type!
            </div>
            <div role="tabpanel" class="tab-pane" id="designer">
                designer!
            </div>
            <div role="tabpanel" class="tab-pane" id="advanced-search">
                advanced search!
            </div>
        </div>
    </div>
</div>

</div>
