<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="detail.html">Detail</a></li>
    <li><a href="search.html">Search</a></li>
    <li><a href="exhibition.html">Exhibition</a></li>
    <li><a href="embed.html">Embed</a></li>
</ul>
