<div class='advanced-search'>

    <label><input type="checkbox" value="only-images"
        autocomplete="off" id="only-images">Include only objects wtih images</label>

    <div class='search-fields'>
        <h3>Search Fields</h3>
        <label><input type="radio" name="search-fields" value="all" checked='checked'/>All</label>
        <label><input type="radio" name="search-fields" value="catalog-nuumber"/>Catalog Number</label>
        <label><input type="radio" name="search-fields" value="designer"/>Designer</label>
        <label><input type="radio" name="search-fields" value="object-title"/>Object Name/Title</label>
        <label><input type="radio" name="search-fields" value="date"/>Date Made</label>
        <label><input type="radio" name="search-fields" value="place"/>Place Made</label>
        <label><input type="radio" name="search-fields" value="medium"/>Medium</label>
        <label><input type="radio" name="search-fields" value="credit-line"/>Credit Line/Donor</label>
    </div>

</div>
