
{{#if home.collection-stats}}

    <div class="collection-stats h2">Search <span class="in-catalog">{{addCommas home.collection-stats.objects-in-catalog}}</span> of the <span class="in-collection">{{addCommas home.collection-stats.objects-in-collection}}</span> objects in our collection.</div>

{{/if}}
