
{{#if collection-stats}}

    <h2 class="collection-stats">Search <span class="in-catalog">{{addCommas collection-stats.objects-in-catalog}}</span> of the <span class="in-collection">{{addCommas collection-stats.objects-in-collection}}</span> objects in our collection.</h2>

{{/if}}
