<div class="row">
    <div class="col-md-10 col-md-offset-1 explore-collection">
        <h2>Explore the collection</h2>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#collections"
                aria-controls="collections" role="tab" data-toggle="tab">Collections</a></li>
            <li role="presentation"><a href="#chronology"
                aria-controls="chronology" role="tab" data-toggle="tab">Chronology</a></li>
            <li role="presentation"><a href="#object-type"
                aria-controls="object-type" role="tab" data-toggle="tab">Object Type</a></li>
            <li role="presentation"><a href="#designer"
                aria-controls="designer" role="tab" data-toggle="tab">Designer</a></li>
            <li role="presentation"><a href="#advanced-search"
                aria-controls="advanced-search" role="tab" data-toggle="tab">Advanced Search</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="collections">
                <ul class="explore-list wide">
                    <li><a href="">Costumes</a></li>
                    <li><a href="">Textiles</a></li>
                    <li><a href="">Decorative Arts and Design</a></li>
                    <li><a href="">Graphic Design and Works on Paper</a></li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="chronology">
                <ul class="explore-list">
                    <li><a href="#">Pre 19th century</a></li>
                    <li><a href="#">1801-1850</a></li>
                    <li><a href="#">1851-1900</a></li>
                    <li><a href="#">1901-1920</a></li>
                    <li><a href="#">1921-1940</a></li>
                    <li><a href="#">1941-1960</a></li>
                    <li><a href="#">1961-1980</a></li>
                    <li><a href="#">1981-2000</a></li>
                    <li><a href="#">21st century</a></li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="object-type">
                <ul class="explore-list">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Ceramics</a></li>
                    <li><a href="#">Costumes</a></li>
                    <li><a href="#">Hats</a></li>
                    <li><a href="#">Furnishings</a></li>
                    <li><a href="#">Glass</a></li>
                    <li><a href="#">Metal</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Textiles</a></li>
                    <li><a href="#">Wood</a></li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="designer">
                <p>Designer list TK</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="advanced-search" class="advanced-search">
                {{> advanced-search}}
            </div>
        </div>
    </div>
</div>
