<div class="row  explore-collection">
    <div class="col-md-10 col-md-offset-1">
        <h2>Explore the collection</h2>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#collections"
                aria-controls="collections" role="tab" data-toggle="tab">Collections</a></li>
            <li role="presentation"><a href="#chronology"
                aria-controls="chronology" role="tab" data-toggle="tab">Chronology</a></li>
            <li role="presentation"><a href="#object-type"
                aria-controls="object-type" role="tab" data-toggle="tab">Object Type</a></li>
            <li role="presentation"><a href="#designer"
                aria-controls="designer" role="tab" data-toggle="tab">Designer</a></li>
            <li role="presentation"><a href="#advanced-search"
                aria-controls="advanced-search" role="tab" data-toggle="tab">Advanced Search</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="collections">
                <ul class="explore-list wide">
                    <li><a href="JResults.aspx?pS=costume&sletter=H&db=objects&dir=GOLDSTEIN">Costumes</a></li>
                    <li><a href="JResults.aspx?pS=textile&sletter=H&db=objects&dir=GOLDSTEIN">Textiles</a></li>
                    <li><a href="JResults.aspx?pS=pS=Decorative&sletter=H&db=objects&dir=GOLDSTEIN">Decorative Arts and Design</a></li>
                    <li><a href='JResults.aspx?pS=Graphic&sletter=H&db=objects&dir=GOLDSTEIN'>Graphic Design and Works on Paper</a></li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="chronology">
                <ul class="explore-list">
                    <li><a href="JResults.aspx?pS=0..1800&sletter=d&db=objects&dir=GOLDSTEIN">Pre 19th century</a></li>
                    <li><a href="JResults.aspx?pS=1801..1850&sletter=d&db=objects&dir=GOLDSTEIN">1801-1850</a></li>
                    <li><a href="JResults.aspx?pS=1851..1900&sletter=d&db=objects&dir=GOLDSTEIN">1851-1900</a></li>
                    <li><a href="JResults.aspx?pS=1901..1920&sletter=d&db=objects&dir=GOLDSTEIN">1901-1920</a></li>
                    <li><a href="JResults.aspx?pS=1921..1940&sletter=d&db=objects&dir=GOLDSTEIN">1921-1940</a></li>
                    <li><a href="JResults.aspx?pS=1941..1960&sletter=d&db=objects&dir=GOLDSTEIN">1941-1960</a></li>
                    <li><a href="JResults.aspx?pS=1961..1980&sletter=d&db=objects&dir=GOLDSTEIN">1961-1980</a></li>
                    <li><a href="JResults.aspx?pS=1981..2000&sletter=d&db=objects&dir=GOLDSTEIN">1981-2000</a></li>
                    <li><a href="JResults.aspx?pS=2001..2099&sletter=d&db=objects&dir=GOLDSTEIN">21st century</a></li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="object-type">
                <ul class="explore-list">
                    <li><a href="JResults.aspx?pS=*&sletter=&db=objects&dir=GOLDSTEIN">All</a></li>
                    <li><a href="JResults.aspx?pS=accessories&sletter=O&db=objects&dir=GOLDSTEIN">Accessories</a></li>
                    <li><a href="JResults.aspx?pS=ceramic&sletter=m&db=objects&dir=GOLDSTEIN">Ceramics</a></li>
                    <li><a href="JResults.aspx?pS=costume&sletter=H&db=objects&dir=GOLDSTEIN">Costumes</a></li>
                    <li><a href="JResults.aspx?pS=hats&sletter=O&db=objects&dir=GOLDSTEIN">Hats</a></li>
                    <li><a href="JResults.aspx?pS=furnishings&sletter=j&db=objects&dir=GOLDSTEIN">Furnishings</a></li>
                    <li><a href="JResults.aspx?pS=glass&sletter=m&db=objects&dir=GOLDSTEIN">Glass</a></li>
                    <li><a href="JResults.aspx?pS=metal&sletter=m&db=objects&dir=GOLDSTEIN">Metal</a></li>
                    <li><a href="JResults.aspx?pS=shoes&sletter=O&db=objects&dir=GOLDSTEIN">Shoes</a></li>
                    <li><a href="JResults.aspx?pS=textile&sletter=H&db=objects&dir=GOLDSTEIN">Textiles</a></li>
                    <li><a href="JResults.aspx?pS=wood&sletter=m&db=objects&dir=GOLDSTEIN">Wood</a></li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="designer">
                <p>Designer list TK</p>
            </div>
            <div role="tabpanel" class="tab-pane" id="advanced-search" class="advanced-search">
                {{> advanced-search}}
            </div>
        </div>
    </div>
</div>
