<div class="search-panel{{#if show_advanced_search}} has-advanced{{/if}}">


    <div class="input-group">
        <input type="text" id="search-field" class="form-control" placeholder="Search for material, designer, object type..." value="{{results.query}}"/>
        <label for="search-field" class="sr-only">Search the collection</label>

        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span class="hidden-xs search-button-text" aria-hidden="false"> Search</span></button>
        </span>
    </div>
    {{!-- TODO: This needs to open up automatically if there has beeen an advanced search --}}
    {{#if show_advanced_search}}
    <a href="javascript:void(0)" class="advanced-search-link" id="advanced-search-link">Advanced search<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>

        <div class="advanced-search-wrap hidden">
            {{> advanced-search}}
        </div>
    {{/if}}

</div>
