
<div class="site-header">
    <h2 class='site-title'><a href="{{site.index-url}}">Collections</a></h2>
    <h2 class='site-unit'><a href="{{site.unit-url}}">Goldstein Museum of Design</a></h2>
    <h2 class='site-metaunit'><a href="{{site.metaunit-url}}">College of Design</a></h2>
</div>
