
<div class="site-header">
    <h2>
        <span class='heading-2 site-title'><a href="{{site.index-url}}">Collections</a></span>
        <span class="sep">-</span>
        <span class='heading-2  site-unit'><a href="{{site.unit-url}}">Goldstein Museum of Design</a></span>
        <span class="sep">-</span>
        <span class='heading-2 site-metaunit'><a href="{{site.metaunit-url}}">College of Design</a></span>
    </h2>
</div>
