<section class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Viewing Objects</h2>

        <p>To view objects from the collection, call <a href="tel:+1-612-625-2737">612-625-2737</a> or email <a href="mailto:gmd@umn.edu">gmd@umn.edu</a> to make an appointment. Appointments must be scheduled one to two weeks in advance.</p>

        <p>Digital photography of the collection has been funded by generous individuals and by grants from:<br />
        <img src="http://goldstein.design.umn.edu/collection/images/IMLS_Logo_2c.jpg" alt="Institute of Museum and Library Services" />
        </p>
    </div>
</section>
