// perhaps should go into overrides.less
.container-fluid {
    max-width: 1090px;
}

h2, h3{
    font-weight: bold;
}

// UMN fixes
#umnhf-uf-ci,
#umnhf-uf-ul,
#umnhf-f {
    p,
    ul li{
        line-height: 2rem;
    }
    a{
        color: #7a0019; //UMN maroon
        text-decoration: underline;
        &:hover{
            //color: @link-color-hover;
        }
    }
    small{
        font-size: 1rem;
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

    h1, .h1 { font-size: 44px; }

    body {
      font-size: 18px;
      line-height: 1.42857143;
    }


}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
