
//object detail

.object-detail{
    h1 {
        margin: 0.5em 0 0.6em;
    }
    dl {}

    dt {
        font-weight: bold;
        text-transform: capitalize;
        color: @gray;
    }

    dd {
        margin-bottom: 1em;
    }

    .related-objects-list,
    .related-topics-list,
    .object-images-list {
        padding: 0;
        li {
            list-style-type: none;
        }
    }

     .object-images-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        margin-top: 1em;
        li {
            max-width: 100px;
            img{
                width: 100%;
                heigth: auto;
            }
            margin-bottom: 1em;
        }
    }


    // .object-images-list {
    //     margin-top: 10px;
    //     li{
    //         float: left;
    //         width: 25%;
    //         height: 100px;
    //         padding: 10px 5px;
    //         img{
    //             width: 95%;
    //             height: auto;
    //             //max-height: 100%;
    //         }
    //         &:nth-child(4n+1){
    //             padding-left: 0;
    //         }
    //         &:nth-child(4n){
    //             //background-color: red;
    //             padding-right: 0;
    //             img {
    //                 width: 100%;
    //             }
    //         }
    //     }
    // }

    .related-topics,
    .related-objects {
        h2 {
            font-size: 1em;
            text-transform: uppercase;
            color: @gray;
        }

    }

    .related-topics {
        li {
            display: inline-block;
            margin: 0 0.1em 0.5em;
            a:hover{
                text-decoration: none;
                span{
                    background-color: @brand-primary;
                }
            }
        }
    }
}



/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .object-detail{
        dt{
            .clearfix();
            width: 30%;
            float: left;
        }
        dd{
            width: 70%;
            float: left;
        }
        dt:last-of-type,
        dd:last-of-type{
            float: none;
            width: 100%;
        }
    }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
