

.search-panel {
    background-color: @gray-lighter;
    padding: 1.25em 1em;
    margin: 0 -15px;

    h3{
        .label-headline();
    }

    .input-group,
    &.has-advanced .advanced-search-link,
    .advanced-search-wrap,
    h3 {  //this isn't the greatest selector, but it works for our limited use case
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    .search-button-text {
        text-transform: uppercase;
        font-weight: bold;
    }

    .advanced-search-link {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0.75em 0 0;

        span{
            font-size: 90%; //make glyphicon smaller
        }

    }

    &.has-advanced {
        padding-bottom: 0.75em;
    }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    .search-panel{
        .form-control,
        .btn {
            font-size: 1.7rem;
        }
        .form-control{
            height: 38px;
        }
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}
